

.navbar-dark .navbar-nav .active>.nav-link, .navbar-dark .navbar-nav .nav-link.active, .navbar-dark .navbar-nav .nav-link.show, .navbar-dark .navbar-nav .show>.nav-link {
    color: #fff;
    border-bottom: 2px solid orangered ;
}


.slideImg{
    height: 450px;
   
}
.slideImg .img-ht img{
    height: 400px;
    object-fit: cover;
}

.slide-3  h1{
    text-shadow: 3px 3px 5px #000;
}

.imgBg{
    position: relative;
    background: url('../img/lights.jpg');
    color: #fff;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    & > .secImg::before{
        position: absolute;
        content: " ";
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.7);
    }
}


.imgBg-2{
    position: relative;
    background: url('../img/media.jpg');
    color: #fff;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    & > .secImg-2::before{
        position: absolute;
        content: " ";
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.7);
    }
}



.photo-Gallary a img{
    width: 100%;
    height: 250px;
    object-fit: cover;
}

.lowerFooter{
    background-color: #000;
}


.secImg-2 i{
    cursor: pointer;
}

.owl-nav {
    font-size: 25px;
}


.owl-theme .owl-nav {
    margin-top: 0;
}

@media all and (max-width:768px){
.submitBtn{
    width: 100%;   
}
.slideImg .img-ht img{
    height: 500px;
}
}
